<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Log In to Admin panel</h1>
  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{ error }}
  </div>
  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>
  <div 
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div 
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Field <b>Email</b> is required
      </small>
      <small *ngIf="form.get('email').errors.email">
        Please fill in a valid email address
      </small>
    </div>
  </div>
  <div 
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div 
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Field <b>Password</b> is required
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Password cannot be less than {{ form.get('password').errors.minlength.requiredLength }} characters.
        Now password contains only {{ form.get('password').errors.minlength.actualLength }}
      </small>
    </div>
  </div>
  <button 
    type="submit" 
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Log In</button>
</form>
